html {
  font-size: 20px;
  color: #484848;
  font-family: "Do Hyeon", sans-serif;
  letter-spacing: 1px;
}
html body {
  padding: 0;
  margin: 0;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  font-family: "Hanalei Fill", cursive;
  margin: 0px;
}
html body h1 {
  color: #54716a;
}
html body h3 {
  color: #547169;
}
html body p {
  color: #4e4e4e;
}
html body a {
  text-decoration: none;
  color: inherit;
}
html body nav {
  justify-content: space-between;
  background: #fedcd2;
  font-family: "Hanalei Fill", cursive;
  padding: 10px;
}
html body nav div {
  padding: 10px;
}
html body nav ul {
  list-style: none;
}
html body select {
  width: 100%;
}
html body select option {
  width: 100px;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}
html body main {
  padding: 0;
  color: #a96666;
  height: 90vh;
}
html body main section:first-of-type {
  margin-bottom: 0;
}
html body main section {
  padding: 0px 10px;
  margin-bottom: 50px;
}
html body main section h1 {
  color: #80679a;
  letter-spacing: 1.5px;
  padding: 50px 0 25px 0;
  padding: 12.5px 0;
}
html body main section header::after {
  display: block;
  content: "";
  height: 5px;
  width: 100%;
  background: #c7c7c7;
}
@media only screen and (min-width: 600px) {
  html body main {
    padding: 50px 10px 0 10px;
  }
  html body img {
    height: 500px;
    width: auto;
  }
}

img {
  width: 100%;
}

.flex-container {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

svg {
  width: 30px;
  height: 30px;
}

.menu--mobile {
  background: #54716a;
  padding: 10px;
  display: block;
}
.menu--mobile ul {
  list-style: none;
  color: white;
  padding: 10px;
  margin: 0px;
}
.menu--mobile ul li {
  padding: 5px;
}
.menu--mobile ul li a:hover {
  color: white;
}

.menu--mobile--hidden {
  display: none;
}

.menu--desktop {
  display: none;
  color: #bb7979;
}

.menu--desktop a:hover {
  text-decoration: underline;
  color: aqua;
}

@media only screen and (min-width: 600px) {
  nav h1 {
    font-size: 100px;
    line-height: 100px;
  }

  .burger-icon {
    display: none;
  }

  .menu--mobile {
    display: none;
  }

  .menu--desktop {
    display: block;
  }

  .section--intro {
    order: 1;
  }

  .section--image {
    order: 2;
  }

  .flex-container--col-to-row {
    flex-direction: row;
  }
}
.alternate-colour {
  color: #608e83;
}

.small-print {
  color: #c7c7c7;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 10px;
}

.section--intro {
  order: 2;
}

.section--image {
  order: 1;
}
.section--image .img-container {
  padding: 30px 10px;
}
.section--image .img-container .top-image:hover {
  cursor: pointer;
  display: none;
}

.flex-container--col-to-row {
  flex-direction: column;
}

.gifs-list {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.gifs-list li {
  background: #f1f1f1;
  flex: 1 0 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.gifs-list li img {
  width: auto;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .gifs-list {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .gifs-list li {
    flex: 1 0 50%;
    margin: 5px;
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
